// Custom styles.

.hidden{display:none;}
.site-subtitle{
display: block;
+mobile() {
    display: none;
  }
}

.feed-link a{display: inline-block;}

.fa-github:hover{color:#4E287B;}
.fa-weibo:hover{color:#F5231C;}

.ds-meta{padding-top:12px;}
.footer{
+mobile() {
background:#555;
color:#ccc;
}
}
.footer-inner a{
+mobile() {
color:#ccc;
border-bottom-color:#ccc;
}
}
.footer-inner a:hover{
+mobile() {
color:#eee;
border-bottom-color:#eee;
font-weight:bolder;
}
}

.comments{
margin-bottom: 30px;
}

.site-author-name {
  font-size: 16px;
}

.site-author-image {
  border-radius: 100%;
  padding: 2px;
  border: 2px dashed #fff;
  animation: cycle 2s 0.5s forwards;
  transition: border-radius 2s;
}
.site-author-image:hover {
  border-radius: 0;
  border: 2px solid #ffeb3b;
}

@keyframe translate {
  from {
    -webkit-transform: translate(-9999px);
    -moz-transform: translate(-9999px);
    -ms-transform: translate(-9999px);
    -o-transform: translate(-9999px);
    transform: translate(-9999px);
  }
}
#wechat:hover p {
  animation: translate 0.5s infinite linear;
}
@-moz-keyframes cycle {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cycle {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes cycle {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes cycle {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.mobile_code {
  box-sizing: border-box;
  position: fixed;
  bottom: 50%;
  right: 0;
  z-index: $zindex-5;
  padding: 2px 3px 0 3px;
  height:36px;
  width: 30px;
  background: #ccc;
  font-size: 16px;
  color: $b2t-color;
  cursor: pointer;
  text-align: center;
  opacity:1;
  +mobile(){display:none;}

}
.mobile_code .code_img{
	padding: 20px;
	border: 1px solid #d1d2d6;
	position: fixed;
	right: 30px;
	bottom: 38%;
	background-color: #fff;
	display: none;
	}
.mobile_code .code_img img {
	width: 156px;
	height: 156px;
}
.mobile_code:hover{background-color: #669fdd;}
.mobile_code:hover .code_img{display:block;}