.demo{width:300px; margin:0px auto 10px auto}
.aplayer-music{line-height:18px;text-align:left;}
.aplayer .aplayer-info .aplayer-controller .aplayer-time{bottom:0px;}
.dsrv_flag{float:left;padding-right:5px;}
#dsrv_putaway2{padding:5px 0 0 5px;}
.ds-recent-visitors{clear:both;}