.topc-article {
  background: #eee;
  margin: 1.6em 0 0 2em;
  padding: 1em;
  -webkit-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ddd;
  display:none;
  +mobile(){display: block;}
  +tablet() {display: block;}
}
.topc-article strong {
  padding: 0.3em 0;
}
.topc-article ul li {
  list-style: disc;
  text-align: match-parent;
  margin: 0.5em 0;
}
.topc-article ol li {
  list-style-type: decimal;
  margin: 0.5em 0;
}
#topc {
  line-height: 1.3em;
  font-size: 0.8em;
  float: right;
}
#topc .topc {
  padding: 0;
}
#topc .topc li {
  list-style-type: none;
}
#topc .topc-child {
  padding-left: 1.5em;
  padding-top: 0;
}
#topc.topc-aside {
  display: none;
  width: 13%;
  position: fixed;
  right: 2%;
  top: 320px;
  overflow: hidden;
  line-height: 1.5em;
  font-size: 1em;
  color: #333;
  opacity: 0.6;

  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  -ms-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}
#topc.topc-aside strong {
  padding: 0.3em 0;
  color: #817c7c;
}
#topc.topc-aside:hover {
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#topc.topc-aside a {
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  -ms-transition: color 1s ease-out;
  transition: color 1s ease-out;
}
#topc.topc-aside a:hover {
  color: #2ca6cb;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}