.posts-expand {
  .post-eof {
    display: block;
    margin: 40px auto 40px;
    width: 14%;
    height: 1px;
    background: #ccc;
    text-align: center;
  }
}


.post:last-child {
  .post-eof.post-eof.post-eof{
    display: none;
  }
}
